<!DOCTYPE html>
<html>
    <center>
    <body>
        <head>
            <title>Delete Password</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='mainpage.css') }}">
        </head>

        <h1>Delete Password</h1>
        <form method="POST" id='passes'></form>
        
        <form method="POST">
            <h4>Account Name</h4>
            <input type="text" name="account"><br>
            <input type="submit" class="button" value="Submit" />
        </form>

        

        <script>
            var password_accounts = '{{data | tojson | safe}}';
            var obj = JSON.parse(password_accounts);
            
            function createpar(acc){
                    var par = document.createElement('p');
                    par.innerHTML = acc;
                    par.id = acc;
                    par.style.color = 'whitesmoke';
                    document.getElementById('passes').appendChild(par);
            }
                
            var i;
            for (i=0; i < obj.length; i++) {
                var account = obj[i].Account;
                createpar(account);
            }
        </script>

    </body>
    </center>
</html>