<!DOCTYPE html>
<html>
    <body>
    <head>
        <title>Welcome to Password Manager</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='mainpage.css') }}">
    </head>
    
    <h1>Welcome to Password Manager</h1>
    <form method="POST">
        <input type="submit" class="button" name='login' value="New User" />
        <input type="submit" class="button" name="login" value="Login">
        <input type="submit" class="button" name="login" value="Shutdown">
    </form>
    </body>
</html>
