<!DOCTYPE html>
<html>
  <body style="background-color:whitesmoke;">
    <head>
    <title>Welcome to Password Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mainpage.css') }}">
    </head>
    <h1>Login</h1>

    <form method="POST">
      Username:<br>
      <input type="text" name="Username">
      <br><br>
      Password:<br>
      <input type="password" name="Password">
      <br><br>
      <input type="submit" class="button" value="Submit">
    </form>

</body>
</html>
