<!DOCTYPE html>
<html>

<head>

<body>
    <title>Pandora's Box</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mainpage.css') }}">
    </head>
    <div>
        <h1>Welcome to Pandora's Box</h1>
        <form method="POST">
            <button type="submit" class="button" name='pass' value="displayPasswords">View Passwords</button><br><br>
            <button type="submit" class="button" name='pass' value="addPassword">Add Password</button>  <br><br>
            <button type="submit" class="button" name='pass' value="newPassword">New Password</button><br><br>
            <button type="submit" class="button" name='pass' value="deletePassword">Delete Password</button><br><br>
            <button type="submit" class="button" name='pass' value="logout">Logout</button>
        </form>
    </div>
</body>

</html>