<!DOCTYPE html>
<html>
<body>
    <center>
    <head>
        <title>New Password</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='mainpage.css') }}">
    </head>
    <h1>New Password</h1>
    <form method="POST">
        <h4>Account Name</h4>
        <input type="text" name="account"><br>
        <h4>Password Size (Max Length is 32)</h4>
        <input type="text" name="size"><br>
        <input type="submit" class="button" value="Submit" />
    </form>
    </body>
    </center>
</html>
