<!DOCTYPE html>
<html>
    <body>
    <center>
    <head>
        <title>Welcome to the Alpha</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='mainpage.css') }}">
    </head>

        <form method="POST" id='passes'>
        </form>
        <script>
            var myvar = '{{data | tojson | safe}}';
            
            var obj = JSON.parse(myvar);
                        
            function DisplayPasswords(account, password) {
                if (document.getElementById(account).hidden === true){
                    document.getElementById(account).hidden = false;
                }
                else if (document.getElementById(account).hidden === false){
                    document.getElementById(account).hidden = true;
                }
            }

            function createbtn(acc, password){
                var btn = document.createElement('input');
                btn.style.cssText = 'background-color: #8353aa;border: none;border-radius: 8px;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;'
                btn.value = acc;
                btn.onclick = function() {
                    DisplayPasswords(acc, password);
                }
                document.getElementById('passes').appendChild(btn);
            }
            
            function createpar(acc, password){
                var par = document.createElement('p');
                par.innerHTML = password;
                par.id = acc;
                par.style.color = 'whitesmoke';
                //par.style.textDecoration = 'line-through';
                par.hidden = true;
                document.getElementById('passes').appendChild(par);
            }
            var i;
            for (i = 0; i < obj.length; i++) {
                var account = obj[i].Account;
                var password = obj[i].Password;
                
                createbtn(account, password);
                createpar(account, password);

                var br1 = document.createElement('br');
                var br2 = document.createElement('br');
                document.getElementById('passes').appendChild(br1);
                document.getElementById('passes').appendChild(br2);
            }
            
        </script>
        <form method="POST">
            <input type="submit" class="button" name = 'pass' value="Logout">
        </form>
    </body>
    </center>
</html>