<!DOCTYPE html>
<html>
    <body>
        <head>
            <title>Update Password</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='mainpage.css') }}">
        </head>

        <h1>Update Password</h1>
        <form method="POST">
            Account Name:<br><input type="text" name="account"><br>
            <input type="submit" value="Submit" />
            
        </form>

        <form method="POST" id='passes'></form>

        <script>
            var password_accounts = '{{data | tojson | safe}}';
            var obj = JSON.parse(password_accounts);
            
            function createpar(acc){
                    var par = document.createElement('p');
                    par.innerHTML = acc;
                    par.id = acc;
                    document.getElementById('passes').appendChild(par);
            }
                
            var i;
            for (i=0; i < obj.length; i++) {
                var account = obj[i].Account;
                createpar(account);
            }
            
        </script>
    </body>
</html>